{% extends "layout.html" %}
{% block content %}
    <p> Please enter your creidt card number of the booking you wish to cancel</p>
    <form action="/accounts/cancelbook" method="POST">
      <input type="text" name="credit_card" placeholder="credit_card">
      <input type="text" name="booked_room_number" placeholder="Room Number">

        <label for="meeting">Booking Start Date : </label><input name="booked_start_date" type="date" value="2017-04-25"/>


      <input type="submit" value="CancelRoom">
    </form>

{% endblock %}
